.post a {
  text-decoration: none;
  color: inherit;
}

.post:hover {
  border-style: solid;
  border-width: 0 0 0 0.5rem;
  border-color: var(--color-orange);
  padding: 0 0 0 1rem;
  margin: 0 0 0 -1.5rem;
}

.post:hover .title {
  color: var(--color-orange);
}

.title {
  padding: 0;
}

.title a {
  text-decoration: none;
  color: var(--color-blue);
}

.title a:hover {
  text-decoration: underline;
}

.byline {
  font-family: "Roboto Slab", serif;
  color: var(--color-black);
}
