* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Georgia", serif;
  word-spacing: 0.05rem;
  text-rendering: optimizeLegibility;
  line-height: 1.625;
  color: hsl(0, 0%, 20%);
}

h1 {
  color: hsl(225, 20%, 0%);
  font-size: 2.827rem;
  line-height: 3.25rem;
  padding: 3.25rem 0 1.625rem 0;
  text-align: center;
}

h2 {
  color: hsl(225, 20%, 35%);
  font-size: 1.999rem;
  line-height: 3.25rem;
  padding: 0.625rem 0 1rem 0;
}

h3 {
  color: hsl(225, 20%, 35%);
  font-weight: 300;
  font-size: 1.414rem;
  line-height: 1.625rem;
  padding: 0.725rem 0 0.9rem 0;
}

h4 {
  color: hsl(225, 20%, 35%);
  font-size: 1rem;
  line-height: 1.625rem;
  padding: 0;
}

p {
  letter-spacing: -0.01rem;
  padding: 0 0 1.625rem 0;
}

a {
  color: hsl(190, 60%, 50%);
}

a:hover {
  text-decoration: none;
}

code {
  background-color: hsl(225, 20%, 90%);
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
}

pre {
  background-color: hsl(225, 20%, 35%);
  font-size: 0.8125rem;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  padding: 0.8125rem 1rem;
  margin-bottom: 1.625rem;
  border-radius: 0.3rem;
  overflow-x: scroll;
}

pre code {
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 20%, 35%);
  padding: 0;
}

ul,
ol {
  padding: 0 0 1.625rem 1.625rem;
}

li {
  padding: 0 0 0 0.8125rem;
}

/* layout */

main {
  padding: 0 0.8125em;
}

.content {
  margin: 0 auto;
  max-width: 40rem;
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  main {
    padding: 0 1.625rem;
  }
}
